.header {
    background-color: black;
    color: whitesmoke;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.app {
    padding: 16px;
}